 <%- include('../partials/head') %>
 <%- include('../partials/head_end') %>
  <body>
    <%- include('../partials/navigation') %>
    <%- include('../templates/header') %>
   
      <main>
     <%- include('../templates/about') %>
    <%- include('../templates/volunteer') %>
    <%- include('../templates/banner') %>
  <%- include('../templates/newsletter') %>
    <%- include('../templates/banner2') %>
    <%- include('../templates/animal') %> 


      </main>
    <%- include('../partials/footer') %>
    <script src="../../../assets/js/index.js"></script>
    <script src="../../../assets/js/header.js"></script>

    <script src="../../../assets/js/navigation.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../../assets/js/swiper.js"></script>

  </body>
</html>
